rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /surveys/{surveyId} {
      allow read, update: if request.auth != null && resource != null
        && ((request.auth.token.email in resource.data.participants 
        && resource.data.status == 'active') || request.auth.token.email == resource.data.ownerEmail);

      allow write: if request.auth != null
        && request.auth.token.email == resource.data.ownerEmail;
      
      allow create: if request.auth != null;

      match /questions/{questionId} {
        allow read: if request.auth != null
          && (request.auth.token.email in get(request.query.parent).data.participants 
          || request.auth.token.email == get(request.query.parent).data.ownerEmail);

        allow create: if request.auth != null
          && request.auth.token.email == get(/databases/$(database)/documents/surveys/$(surveyId)).data.ownerEmail;

        allow write, delete, update: if request.auth != null
          && request.auth.token.email == get(/databases/$(database)/documents/surveys/$(surveyId)).data.ownerEmail 
          && get(/databases/$(database)/documents/surveys/$(surveyId)).data.status == 'pending';

        match /answers/{answerId} {
          allow create, write, delete: if request.auth != null
            && request.auth.token.email == get(/databases/$(database)/documents/surveys/$(surveyId)).data.ownerEmail
            && get(/databases/$(database)/documents/surveys/$(surveyId)).data.status == 'pending';

          allow read: if request.auth != null
            && (
              request.auth.token.email in get(/databases/$(database)/documents/surveys/$(surveyId)).data.participants ||
              (request.auth.token.email == get(/databases/$(database)/documents/surveys/$(surveyId)).data.ownerEmail
                && get(/databases/$(database)/documents/surveys/$(surveyId)).data.status in ['pending', 'closed'])
            );

          allow update: if request.auth != null
            && (
              (request.auth.token.email in get(/databases/$(database)/documents/surveys/$(surveyId)).data.participants 
              && get(/databases/$(database)/documents/surveys/$(surveyId)).data.status == 'active') 
              || (request.auth.token.email == get(/databases/$(database)/documents/surveys/$(surveyId)).data.ownerEmail
            && get(/databases/$(database)/documents/surveys/$(surveyId)).data.status == 'pending') );
        }
      }
    }
  }
}